---
import ContentLayout from "../layouts/ContentLayout.astro";
import MaybeDownloadLink from "../components/MaybeDownloadLink.astro";
import { range } from "range";

const currentYear = new Date().getFullYear();
---

<style>
  h3 {
    font-size: 1.4rem;
  }
  li {
    list-style-type: none;
    padding-bottom: 0.4em;
  }
  li a:before {
    content: "📄";
    display: inline-block;
    margin-right: 0.2em;
  }
  td {
    vertical-align: baseline;
  }
</style>

<ContentLayout>
  <h1 class="pb-2 pt-4 pt-sm-5 display-4">HOA Documents</h1>
  <ul class="px-0">
    <li>
      <a href="/docs/current/2023_winter_newsletter.pdf"
        >Newsletter - Winter 22/23
      </a>
    </li>
    <li>
      <a href="/docs/current/placer_county_good_neighbor_2018.pdf"
        >Being a Good Neighbor - Placer County STR Tips</a
      >
    </li>
    <li>
      <a href="/docs/current/cc_rs_2023.pdf"
        >Covenants, Conditions &amp; Restrictions (CC&amp;Rs)</a
      >
    </li>
    <li>
      <a href="/docs/current/bylaws_2014.pdf">Bylaws</a>
    </li>
    <li>
      <a href="/docs/current/architectural_review_form_2014.pdf"
        >Architectural Review Form</a
      >
    </li>
    <li>
      <a href="/docs/current/variance_request_form.pdf">Variance Request Form</a
      >
    </li>
    <li>
      <a href="/docs/current/2019_collection_policy.pdf"
        >Assessment Collection Policy</a
      >
    </li>
    <li>
      <a href="/docs/current/fine_schedule_and_policy.pdf"
        >Fines &amp; Enforcement Policy</a
      >
    </li>
    <li>
      <a href="/docs/current/formal_complaint_process_2014.pdf"
        >Formal Complaint Process</a
      >
    </li>
    <li>
      <a href="/docs/current/election_rules.pdf">Election Rules</a>
    </li>
  </ul>
  <h3>Insurance Policies</h3>
  <ul class="px-0">
    <li>
      <a href="/docs/current/insurance/2023_commercial_package_policy.pdf"
        >Commercial Package Policy</a
      >
    </li>
    <li>
      <a href="/docs/current/insurance/2023_commercial_umbrella_policy.pdf"
        >Commercial Umbrella Policy</a
      >
    </li>
    <li>
      <a href="/docs/current/insurance/2023_directors_and_officers_policy.pdf"
        >Directors & Officers Policy</a
      >
    </li>
  </ul>

  <h2 id="archive" class="pt-4">Archive</h2>

  <table>
    {
      range(currentYear, 2014, -1).map((year, idx) => (
        <>
          <tr>
            <th class:list={{ "pt-4": idx > 0 }}>
              <h3>{year}</h3>
            </th>
          </tr>
          <tr>
            <td class="pe-4 d-block d-sm-table-cell">
              <MaybeDownloadLink
                href={`/docs/archive/${year}_annual_meeting_minutes.pdf`}
              >
                Minutes
              </MaybeDownloadLink>
            </td>
            <td class="pe-4 d-block d-sm-table-cell">
              <MaybeDownloadLink href={`/docs/archive/${year}_budget.pdf`}>
                Budget
              </MaybeDownloadLink>
            </td>
            <td class="d-block d-sm-table-cell">
              <div class="d-flex flex-column">
                <MaybeDownloadLink
                  href={`/docs/archive/${year}-06_financial_statement.pdf`}
                >
                  June Financial Statement
                </MaybeDownloadLink>
                <MaybeDownloadLink
                  href={`/docs/archive/${year}-12_financial_statement.pdf`}
                >
                  December Financial Statement
                </MaybeDownloadLink>
              </div>
            </td>
          </tr>
        </>
      ))
    }
  </table>
</ContentLayout>
