---
import ContentLayout from "../layouts/ContentLayout.astro";
import MaybeDownloadLink from "../components/MaybeDownloadLink.astro";
import MapLink from "../components/MapLink.astro";
import { range } from "range";

const currentYear = new Date().getFullYear();
---

<style>
  h3 {
    font-size: 1.4rem;
  }
  li {
    list-style-type: none;
    padding-bottom: 0.4em;
  }
  li a {
    position: relative;
    display: block;
    padding-left: 23px;
  }
  li a:before {
    content: "📄";
    /* Ensure whitespace collapses around link text */
    display: block;
    position: absolute;
    left: 0;
  }
  td {
    vertical-align: baseline;
  }
</style>

<ContentLayout>
  <h1 class="pb-2 pt-4 pt-sm-5 display-4">HOA Documents</h1>
  <ul class="px-0">
    <li>
      <a href="/docs/current/mission.pdf">Vision, Mission & Principles</a>
    </li>
    <li>
      <a href="/docs/current/2023_spring_newsletter.pdf"
        >Newsletter - Spring 2023
      </a>
    </li>
    <li>
      <a href="/docs/current/placer_county_good_neighbor_2018.pdf"
        >Being a Good Neighbor - Placer County STR Tips</a
      >
    </li>
    <li>
      <a href="/docs/current/ccrs_2022.pdf"
        >Covenants, Conditions &amp; Restrictions (CC&amp;Rs)</a
      >
    </li>
    <li>
      <a href="/docs/current/bylaws_2014.pdf">Bylaws</a>
    </li>
    <li>
      <a href="/docs/current/architectural_review_rules_2023.pdf"
        >Architectural Review Rules</a
      >
    </li>
    <li>
      <a href="/docs/current/architectural_review_form_2022.xlsx"
        >Architectural Review Form</a
      >
    </li>
    <li>
      <a href="/docs/current/variance_request_form.pdf">Variance Request Form</a
      >
    </li>
    <li>
      <a href="/docs/current/2019_collection_policy.pdf"
        >Assessment Collection Policy</a
      >
    </li>
    <li>
      <a href="/docs/current/fine_schedule_and_policy.pdf"
        >Fines &amp; Enforcement Policy</a
      >
    </li>
    <li>
      <a href="/docs/current/formal_complaint_process_2014.pdf"
        >Formal Complaint Process</a
      >
    </li>
    <li>
      <a href="/docs/current/election_rules.pdf">Election Rules</a>
    </li>
  </ul>
  <h3>Insurance Policies</h3>
  <ul class="px-0">
    <li>
      <a href="/docs/current/insurance/2023_commercial_package_policy.pdf"
        >Commercial Package Policy</a
      >
    </li>
    <li>
      <a href="/docs/current/insurance/2023_commercial_umbrella_policy.pdf"
        >Commercial Umbrella Policy</a
      >
    </li>
    <li>
      <a href="/docs/current/insurance/2023_directors_and_officers_policy.pdf"
        >Directors & Officers Policy</a
      >
    </li>
  </ul>

  <h3>Maps</h3>
  <ul class="px-0">
    <li>
      <MapLink
        href="http://maps.placer.ca.gov/Html5viewer/Index.html?configBase=http://arcgis/Geocortex/Essentials/REST/sites/LIS_Public/viewers/LIS_Base-Public/virtualdirectory/Resources/Config/Default"
      >
        County Interactive
      </MapLink>
    </li>
    <li>
      <MapLink href="/docs/maps/111_index.pdf">Neighborhood Overview</MapLink>
    </li>
  </ul>
  <table>
    <tr>
      <td class="pe-4">
        <MapLink href="/docs/maps/111-11.pdf">111-11</MapLink>
      </td>
      <td class="pe-4">
        <MapLink href="/docs/maps/111-12.pdf">111-12</MapLink>
      </td>
      <td>
        <MapLink href="/docs/maps/111-13.pdf">111-13</MapLink>
      </td>
    </tr>
    <tr>
      <td class="pe-4">
        <MapLink href="/docs/maps/111-14.pdf">111-14</MapLink>
      </td>
      <td class="pe-4">
        <MapLink href="/docs/maps/111-15.pdf">111-15</MapLink>
      </td>
      <td>
        <MapLink href="/docs/maps/111-16.pdf">111-16</MapLink>
      </td>
    </tr>
    <tr>
      <td class="pe-4">
        <MapLink href="/docs/maps/111-17.pdf">111-17</MapLink>
      </td>
      <td class="pe-4">
        <MapLink href="/docs/maps/111-18.pdf">111-18</MapLink>
      </td>
      <td>
        <MapLink href="/docs/maps/111-19.pdf">111-19</MapLink>
      </td>
    </tr>
    <tr>
      <td class="pe-4">
        <MapLink href="/docs/maps/111-27.pdf">111-27</MapLink>
      </td>
      <td class="pe-4">
        <MapLink href="/docs/maps/111-28.pdf">111-28</MapLink>
      </td>
    </tr>
  </table>

  <h2 id="archive" class="pt-5">Archive</h2>

  <table>
    {
      range(currentYear, 2014, -1).map((year, idx) => (
        <>
          <tr>
            <th class:list={{ "pt-4": idx > 0 }}>
              <h3>{year}</h3>
            </th>
          </tr>
          <tr>
            <td class="pe-4 d-block d-sm-table-cell">
              <MaybeDownloadLink
                href={`/docs/archive/${year}_annual_meeting_minutes.pdf`}
              >
                Minutes
              </MaybeDownloadLink>
            </td>
            <td class="pe-4 d-block d-sm-table-cell">
              <div class="d-flex flex-column">
                <MaybeDownloadLink href={`/docs/archive/${year}_budget.pdf`}>
                  Budget
                </MaybeDownloadLink>
                <MaybeDownloadLink
                  href={`/docs/archive/${year}_budget_to_actual.pdf`}
                >
                  Budget to Actual
                </MaybeDownloadLink>
              </div>
            </td>
            <td class="d-block d-sm-table-cell">
              <div class="d-flex flex-column">
                <MaybeDownloadLink
                  href={`/docs/archive/${year}-06_financial_statement.pdf`}
                >
                  June Financial Statement
                </MaybeDownloadLink>
                <MaybeDownloadLink
                  href={`/docs/archive/${year}-12_financial_statement.pdf`}
                >
                  December Financial Statement
                </MaybeDownloadLink>
              </div>
            </td>
          </tr>
        </>
      ))
    }
  </table>
</ContentLayout>
